<!doctype html>
    <html>
        <head>
            <title>Meadowlark Travel</title>
        </head>
        <body>
            <header>
                <img src="/img/logo.png" alt="logo">
            </header>
        {{{body}}}
        </body>
    </html>